{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="{% static 'customer/customerMainPage/customerMainPage.css' %}?v={{ timestamp }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="navbar-container">
            <img src="{% static 'main/assets/SmallLogo.png' %}" alt="Logo" class="navbar-logo">
            <a class="logout-button" href="{% url 'main:logout' %}">Logout</a>
        </div>
    </nav>

    <!-- Dynamic Content Section -->
    <div class="content-container">
        <h1>Services Near You</h1>
        <div class="controls">
            <div class="sort-container">
                <label for="sort">Sort by:</label>
                <select id="sort" class="sort-select">
                    <option value="distance">Distance</option>
                    <option value="rating">Rating</option>
                </select>
            </div>
            <div class="search-container">
                <input type="text" placeholder="Search..." class="search-input">
                <button class="search-button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>

        <!-- Toggle Buttons -->
        <div class="toggle-container">
            <button class="toggle-option active-toggle" id="providers">Providers</button>
            <button class="toggle-option" id="events">Events</button>
            <button class="toggle-option" id="map">Map</button>
            <div class="toggle-slider"></div>
        </div>

        <!-- Dynamic Content View -->
    </div>
    <div class="dynamic-container">
    <section class="dynamic-content active" id="dynamic-providers">
        <div class="provider-cards" id="provider-cards"></div>
    </section>

    <section class="dynamic-content" id="dynamic-events"></section>
    
    <section class="dynamic-content" id="dynamic-map"></section>
    </div>
    <script>
        const customerId = {{ customer.customerid }}
        const providerURL = "{% url 'customer:viewProviderPage' customer.customerid 0 %}"
        
        const csrfToken = "{{ csrf_token }}"
    </script>
    <script src="{% static 'customer/customerMainPage/customerMainPage.js' %}?v={{ timestamp }}">
    </script>
</body>

</html>