{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'customer/register-customer/register-customer.css' %}?v={{ timestamp }}">
    <title>Register as a Customer</title>
</head>

<body>
    <div class="main-container">
        <div class="form-container">
            <header>
                <img src="{% static 'main/assets/SmallLogo.png' %} " alt="Logo" class="logo">
                <h1>Register as a Customer</h1>
            </header>
            <form class="register-form" id="registrationForm" action="{% url 'customer:register-customer' %}"
                method="POST">
                {% csrf_token %}
                <div class="form-flex">
                    <div class="form-left">
                        <label for="customer-name">Username:</label>
                        <input type="text" id="customer-name" name="customer-name" required
                            placeholder="Choose a unique username">

                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required placeholder="e.g, example@example.com">

                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required
                            pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
                            placeholder="At least 8 letters including a number">

                        <label for="confirm-password">Confirm Password:</label>
                        <input type="password" id="confirm-password" name="confirm-password"
                            placeholder="At least 8 letters including a number" required
                            pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">

                        <small id="password-error" style="color: red; display: none; margin-bottom: 5px;">Passwords do not match.</small>
                            

                        <div class="showpass">
                            <input type="checkbox" id="showpass" name="showpass">
                            <label for="showpass">Show Password</label>
                        </div>
                    </div>
                    <div class="dividing-line"></div>
                    <div class="form-right">
                        <div class="full-name">
                            <div class="first-name">
                                <label for="first-name">First Name:</label>
                                <input type="text" id="first-name" name="first-name"
                                    title="You Cannot Add A Number In This Field" required
                                    pattern="[A-Za-z]+" placeholder="Enter your First Name">
                            </div>
                            <div class="last-name">
                                <label for="last-name">Last Name:</label>
                                <input type="text" id="last-name" name="last-name" required
                                    title="You Cannot Add A Number In This Field" pattern="[A-Za-z]+"
                                    placeholder="Enter your Last Name">
                            </div>
                        </div>
                        <label for="customer-number">Phone Number:</label>
                        <input type="tel" id="customer-number" name="customer-number" required
                            pattern="(\+9665[0-9]{8})|(05[0-9]{8})" placeholder="e.g., +966 5XXXXXXXX">

                        <label>Gender:</label>
                        <div class="radio-button">

                            <input id='radio-1' type="radio" name='gender' checked='checked' value="M" />
                            <label for="radio-1">Male</label>

                            <input id='radio-2' type="radio" name='gender' value="F" />
                            <label for="radio-2">Female</label>
                        </div>

                        <label for="DOB">Date of Birth:</label>
                        <input type="date" name="DOB" max="2012-12-30" min="1920-01-01" required>

                    </div>
                </div>
                <div class="register-button-container">
                    <button type="submit" class="register-button">Register</button>
                </div>
            </form>

            <footer>
                <p>Already a Customer? <a href="{%url 'main:login'%}">Login Now!</a></p>
                <p><a href="{% url 'provider:registerProvider'%}">Register as a Provider instead</a></p>
            </footer>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            errorMessage = '{{error}}'
            if (errorMessage)
                alert(errorMessage)
            const pass = document.getElementById('password');
            const confirmpass = document.getElementById('confirm-password');
            const checkbox = document.getElementById('showpass');
            const errorPass = document.getElementById("password-error");

            checkbox.addEventListener('click', function () {
                const type = checkbox.checked ? 'text' : 'password';
                pass.type = type;
                confirmpass.type = type;
            });

            document.getElementById('registrationForm').addEventListener('submit', function (event) {
                const password = document.getElementById('password').value;
                const confirmPassword = document.getElementById('confirmPassword').value;

                if (password !== confirmPassword) {
                    alert('Passwords do not match.')
                    console.log('rgaefaeaegegagea')
                    event.preventDefault()  // Prevent form submission
                }
            });

            confirmpass.addEventListener("input", function () {
                p = pass.value;
                confirmP = confirmpass.value;
                if (confirmP.trim() !== '' && p.trim() !== '' ) {
                    if (p !== confirmP) {
                        this.setCustomValidity(" ");
                        errorPass.style.display = "block";
                    } else {
                        this.setCustomValidity("");
                        errorPass.style.display = "none";
                    }
                }

            });
            pass.addEventListener("input", function () {
                p = pass.value;
                confirmP = confirmpass.value;
                if (confirmP.trim() !== '' && p.trim() !== '' ) {
                        if (p !== confirmP.trim() && confirmP.trim() !== '') {
                            this.setCustomValidity("");
                            errorPass.style.display = "block";
                        } else {
                            this.setCustomValidity("");
                            errorPass.style.display = "none";
                        }
                    }                            
            })

        })


    </script>
</body>

</html>