::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
    height: 10px;
    /* Height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: #f4f4f4;
    /* Background color of the scrollbar track */
    border-radius: 10px;
    /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
    background: #296879;
    /* Color of the draggable scrollbar thumb */
    border-radius: 10px;
    /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #0c4851;
    /* Color when hovered */
}


.items-container {
    display: flex;
    width: 1200px;
    height: 550px;
    background: white;
    justify-content: space-between;
    gap: 50px;
    margin: auto;
    position: relative;
}

.items-list {
    background-color: #ffffff;
    width: 570px;
    overflow-y: scroll;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

}

.item-unordered-list {
    list-style-type: none;
    padding: 0;
}

.edit-item-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 550px;
    border-radius: 5px;
    padding: 0px 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    height: 570px;
}

.add-item-form {
    background-color: #ffffff;
    width: 550px;
    border-radius: 5px;
    padding: 0px 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    height: 600px;
}

.item-form-container {
    display: block;
    height: 250px;
}

.items-list-header {
    text-align: center;
    color: #296879;
}

.breaking-line {
    width: 500px;
    margin: 0 auto 20px auto;
    height: 2px;
    background-color: #296879;
    /* margin-bottom: 20px */
}

.item-map {
    width: 100%;
    height: 180px;
    background-color: red;
    margin-bottom: 30px;
    z-index: 0;
}

.map-container {
    height: 150px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.items-container {
    display: flex;
    width: 1200px;
    height: 550px;
    background: white;
    justify-content: space-between;
    margin: auto;
    position: relative;
}

.hidden-input {
    display: none;
}

.pop-up {
    position: absolute;
    border-radius: 4px;
    background-color: #ffffff;
    width: 600px;
    height: 500px;
    top: -50px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 11;
    display: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.pop-up .items-list-header {
    margin-top: auto;
    padding-top: 15px;
}

.pop-up-shadow {
    position: absolute;
    background-color: black;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    display: none;
}

.item-description {
    width: 550px;
    height: 65px;
    resize: none;
}

.item-unordered-list {
    list-style-type: none;
    padding: 0;
}





.items-list-header {
    text-align: center;
    color: #296879;
}



.item-map {
    width: 100%;
    height: 180px;
    background-color: red;
    margin-bottom: 30px;
    z-index: 0;
}




/* ====== cards styling ====== */


.item-container {
    margin-bottom: 10px;
    padding: 25px 15px;
    height: auto;
    width: 485px;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


.edit-delete-btn {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-logo {
    width: 100px;
    height: 100px;
}

.item-info {
    width: 65%;
    height: 50%;
    padding: 10px;
}

.item-info-header {
    display: flex;
    justify-content: space-between;
}

.item-info h1 {
    margin: 0;
}

.price {
    margin: 0;
    font-size: 20px;
}

.fa-pen-to-square {
    color: #296879;
}

.fa-pen-to-square:hover {
    color: gold;
    scale: 1.2;
    cursor: pointer;
}


.fa-trash {
    color: #296879;
}

.fa-trash:hover {
    color: red;
    scale: 1.2;
    cursor: pointer;
}

.add-button {
    background-color: #296879;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 35%;
    margin-bottom: 20px;
}

.item-form-container label,
.item-form-container input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.item-form-container input {
    padding: 5px;
    box-sizing: border-box;
}



.item-form-container button {
    margin-top: 0;
    padding: 7px 80px;
    border-radius: 5px;
    background-color: #296879;
    color: #fff;
    border: none;
}


.item-locations {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.item-locations p {
    padding: 10px 20px;
    background-color: #296879;
    border-radius: 40px;
    color: white;

}



.item-description-card {
    width: 100%;
    word-wrap: break-word;
    overflow-y: auto;
    padding: 15px;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
}

.item-info-header span {
    font-size: smaller;
}


.form-curtain {
    display: none;
}

.form-placeholder {
    margin: auto;
    background-color: #cccccc;
    border-radius: 5px;
    padding: 10px;
    width: 450px;
    text-align: center;
    background: #296879;
    color: #f4f4f4;
}