{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'provider/register-provider/register-provider.css' %}?v={{ timestamp }}">
    <title>Register as a Provider</title>
</head>

<body>
    <div class="main-container">
        <div class="form-container">
            <header>
                <img src="{% static 'main/assets/SmallLogo.png' %}" alt="Logo" class="logo">
                <h1>Register as a Provider</h1>
            </header>
            <form class="register-form" id="provider-form">
                {% csrf_token %}
                <div class="form-flex">
                    <div class="form-left">
                        <label for="provider-name">Provider Name:</label>
                        <input type="text" id="provider-name" name="provider-name" required>

                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" required>

                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>

                        <label for="provider-number">Phone Number:</label>
                        <input type="tel" id="provider-number" name="provider-number" required>
                    </div>
                    <div class="dividing-line"></div>
                    <div class="form-middle">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>

                        <label for="confirm-password">Confirm Password:</label>
                        <input type="password" id="confirm-password" name="confirm-password" required>

                        <div class="showpass">
                            <input type="checkbox" id="showpass" name="showpass" >
                            <label for="showpass">Show Password</label>
                        </div>
                        <label for="description">Description:</label>
                        <textarea id="description" name="description" rows="4"></textarea>
                    </div>
                    <div class="dividing-line"></div>
                    <div class="form-right">
                        <label>Select up to 6 Tags:</label>
                        <input type="text" id="tag-search" placeholder="Search tags...">

                        <div id="available-tags" class="available-tags"></div>

                        <div class="selected-tags-container">
                            <label>Selected Tags:</label>
                            <div id="selected-tags" class="selected-tags"></div>
                        </div>

                        <div class="upload-logo">
                            <div>
                                <label>Upload a Logo:</label>
                                <input class="logo-input" type="file" id="upload-logo" name="upload-logo"
                                    accept="image/png, image/jpeg, image/jpg" onchange="previewLogo(event)">
                            </div>
                            <div class="logo-preview-container">
                                <img id="logo-preview" src="{% static '/main/assets/BigLogo.png'%}" alt="Logo Preview"
                                    class="logo-preview">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register-button-container">
                    <button type="submit" class="register-button">Register</button>
                </div>
            </form>

            <footer>
                <p>Already a Provider? <a href="{% url 'main:login' %}">Login Now!</a></p>
                <p><a href="{% url 'customer:register-customer' %}">Register As A Customer Instead</a></p>
            </footer>
        </div>
    </div>

    <script>
        const loginurl = "{% url 'main:login' %}";
    </script>

    <script src="{% static 'provider/register-provider/register-provider.js' %}?v={{ time.time|floatformat:0 }}"></script>
</body>

</html>
