{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'provider/register-provider/register-provider.css' %}">
    <title>Register as a Provider</title>
</head>

<body>
    <div class="main-container">
        <div class="form-container">
            <header>
                <img src="{% static 'main/assets/SmallLogo.png' %}" alt="Logo" class="logo">
                <h1>Register as a Provider</h1>
            </header>
            <form class="register-form">
                <div class="form-flex">
                    <div class="form-left">
                        <label for="provider-name">Provider Name:</label>
                        <input type="text" id="provider-name" name="provider-name" required>

                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>

                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>

                        <label for="confirm-password">Confirm Password:</label>
                        <input type="password" id="confirm-password" name="confirm-password" required>
                    </div>
                    <div class="dividing-line"></div>
                    <div class="form-right">
                        <label for="provider-number">Phone Number:</label>
                        <input type="tel" id="provider-number" name="provider-number" required>

                        <label for="description">Description:</label>
                        <textarea id="description" name="description" rows="4"></textarea>

                        <label for="tags">Tags:</label>
                        <input type="text" id="tags" name="tags">
                        <div class="upload-logo">
                            <div>
                                <label>Upload a Logo:</label>
                                <input class="logo-input" type="file" id="upload-logo" name="upload-logo"
                                    accept="image/png, image/jpg, image/jpeg" onchange="previewLogo(event)">
                            </div>
                            <!-- Image preview container -->
                            <div class="logo-preview-container">
                                <img id="logo-preview" src="/FrontEnd/images/BigLogo.png" alt="Logo Preview"
                                    class="logo-preview">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register-button-container">
                    <button type="submit" class="register-button">Register</button>
                </div>
            </form>

            <footer>
                <p>Already a Provider? <a href="{% url 'main:login' %}">Login Now!</a></p>
                <p><a href="{% url 'customer:register-customer' %}">Register As A Customer Instead</a></p>
            </footer>
        </div>
    </div>

    <script>
        function previewLogo(event) {
            const [file] = event.target.files;
            if (file) {
                const preview = document.getElementById('logo-preview');
                preview.src = URL.createObjectURL(file);
                preview.style.display = 'block';
            }
        }
    </script>
</body>

</html>